<div class="produse-cos">
    <% for (var i = 0; i < produseDinCos.length; i++) { %>
        <div class="produs-cos">
            <div class="date-produs-cos">
                <img class="imagine-produs" src="<%= produseDinCos[i].poza %>" alt="imagine vin" width="150px" height="150px">
                <h2> <%= produseDinCos[i].nume  %></br> </h2>
                <p class="descriere"> <%= produseDinCos[i].descriere  %></br> </p>
            </div>
            <div class="pret-si-cantitate-produs-cos">
                <h3 class="pret"> Pret: <%= produseDinCos[i].pret  %></br> </h3>
                <h3 class="cantitate"> Cantitate:  </h3>
            </div>
        </div>
    <% } %> 
</div>