<div class="main-autentificare">
    <h1>Adauga</h1>
    <h3>Adaugati un produs nou.</h3>
    <form class="login" method="POST" action="/inregistrare-produs">
        <label>Nume:</label><input type="text" name="nume">
        <label>Descriere:</label><input type="text" name="descriere">
        <label>Pret:</label><input type="text" name="pret">
        <label>Tip:</label><input type="text" name="tip">
        <label>Poza:</label><input type="text" name="poza">
        <label>Culoare:</label><input type="password" name="culoare">
        <br>
        <input type="submit" value="Autentificare" class="buton-autentificare">
    </form>
</div>