<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazin de vinuri</title>
    <link rel="stylesheet" href="./../continut/stil/style.css">
</head>-->
<main  class="principal">
    <h2 class="index-header">Vinul este o artă</h2>
    <h3 class="index-subheader">Haideți să o descoperim împreună</h4>
</main>