<div class="main-autentificare">
    <h1>Register</h1>
    <h3>Creați un cont nou acum.</h3>
    <form class="login" method="POST" action="/cerere-inregistrare">
        <label>Email:</label><input type="text" name="email">
        <label>Nume utilizator:</label><input type="text" name="username">
        <label>Nume:</label><input type="text" name="nume">
        <label>Prenume:</label><input type="text" name="prenume">
        <label>Adresa:</label><input type="text" name="adresa">
        <label>Parola:</label><input type="password" name="parola">
        <label>Confirma Parola:</label><input type="password" name="pass-confirm">
        <br>
        <input type="submit" value="Autentificare" class="buton-autentificare">
    </form>
</div>