<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Magazin de vinuri</title>
        <link rel="stylesheet" href="/stil/style.css">
    </head>
    <body>
        <nav>
            <ul class="main-nav">
                <li><a href="./index">Home</a></li>
                <li><a href="./store">Vin&Cafea</a></li>
                <li><a href="./cos"><img class="cos" src="/imagini/cos.png" color="#FFF" alt="cos" width="30px" height="30px">Cos</a></li>
            </ul>
        </nav>
        <main>
            <%- body -%>
        </main>
        <footer class="main-footer">
            &copy Best Wine Company
        </footer>
        
    </body>
</html>